In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from pathlib import Path

In [2]:
# prints current directory for debugging purposes!
#  remember to validate relative paths 
cwd = Path.cwd()
print(cwd)

/Users/shivanimendiratta/Desktop/DL/dl-economy-jayandshivani/code/preprocessing

In [3]:
df = pd.read_csv("../../data/raw/allmonthly.csv")
df.head(5)

,sasdate,RPI,W875RX1,DPCERA3M086SBEA,CMRMTSPLx,RETAILx,INDPRO,IPFPNSS,IPFINAL,IPCONGD,...,DNDGRG3M086SBEA,DSERRG3M086SBEA,CES0600000008,CES2000000008,CES3000000008,UMCSENTx,DTCOLNVHFNM,DTCTHFNM,INVEST,VIXCLSx
0,Transform:,5.000,5.0,5.000,5.0000,5.00000,5.0000,5.0000,5.0000,5.0000,...,6.000,6.000,6.00,6.00,6.00,2.0,6.0,6.0,6.0000,1.0
1,1/1/1959,2442.158,2293.2,17.272,292266.4261,18235.77392,22.0151,23.3984,22.2848,31.5847,...,17.791,11.326,2.13,2.45,2.04,NaN,6476.0,12298.0,84.2043,NaN
2,2/1/1959,2451.778,2301.5,17.452,294424.7425,18369.56308,22.4463,23.7142,22.4778,31.8164,...,17.798,11.343,2.14,2.46,2.05,NaN,6476.0,12298.0,83.5280,NaN
3,3/1/1959,2467.594,2318.5,17.617,293418.6704,18523.05762,22.7696,23.8577,22.5882,31.8164,...,17.785,11.363,2.15,2.45,2.07,NaN,6508.0,12349.0,81.6405,NaN
4,4/1/1959,2483.671,2334.9,17.553,299322.8039,18534.46600,23.2547,24.2022,22.9191,32.3184,...,17.796,11.403,2.16,2.47,2.08,NaN,6620.0,12484.0,81.8099,NaN

In [4]:
df_transforms = df[:1]
df_transforms.head(2)

,sasdate,RPI,W875RX1,DPCERA3M086SBEA,CMRMTSPLx,RETAILx,INDPRO,IPFPNSS,IPFINAL,IPCONGD,...,DNDGRG3M086SBEA,DSERRG3M086SBEA,CES0600000008,CES2000000008,CES3000000008,UMCSENTx,DTCOLNVHFNM,DTCTHFNM,INVEST,VIXCLSx
0,Transform:,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,6.0,6.0,6.0,6.0,6.0,2.0,6.0,6.0,6.0,1.0

In [5]:
list(df.shape)
df = df[:-6]

In [6]:
list(df.columns)

['sasdate',
 'RPI',
 'W875RX1',
 'DPCERA3M086SBEA',
 'CMRMTSPLx',
 'RETAILx',
 'INDPRO',
 'IPFPNSS',
 'IPFINAL',
 'IPCONGD',
 'IPDCONGD',
 'IPNCONGD',
 'IPBUSEQ',
 'IPMAT',
 'IPDMAT',
 'IPNMAT',
 'IPMANSICS',
 'IPB51222S',
 'IPFUELS',
 'CUMFNS',
 'HWI',
 'HWIURATIO',
 'CLF16OV',
 'CE16OV',
 'UNRATE',
 'UEMPMEAN',
 'UEMPLT5',
 'UEMP5TO14',
 'UEMP15OV',
 'UEMP15T26',
 'UEMP27OV',
 'CLAIMSx',
 'PAYEMS',
 'USGOOD',
 'CES1021000001',
 'USCONS',
 'MANEMP',
 'DMANEMP',
 'NDMANEMP',
 'SRVPRD',
 'USTPU',
 'USWTRADE',
 'USTRADE',
 'USFIRE',
 'USGOVT',
 'CES0600000007',
 'AWOTMAN',
 'AWHMAN',
 'HOUST',
 'HOUSTNE',
 'HOUSTMW',
 'HOUSTS',
 'HOUSTW',
 'PERMIT',
 'PERMITNE',
 'PERMITMW',
 'PERMITS',
 'PERMITW',
 'ACOGNO',
 'AMDMNOx',
 'ANDENOx',
 'AMDMUOx',
 'BUSINVx',
 'ISRATIOx',
 'M1SL',
 'M2SL',
 'M2REAL',
 'BOGMBASE',
 'TOTRESNS',
 'NONBORRES',
 'BUSLOANS',
 'REALLN',
 'NONREVSL',
 'CONSPI',
 'S&P 500',
 'S&P: indust',
 'S&P div yield',
 'S&P PE ratio',
 'FEDFUNDS',
 'CP3Mx',
 'TB3MS',
 'TB6MS',
 'GS1',
 'GS5',
 'GS10',
 'AAA',
 'BAA',
 'COMPAPFFx',
 'TB3SMFFM',
 'TB6SMFFM',
 'T1YFFM',
 'T5YFFM',
 'T10YFFM',
 'AAAFFM',
 'BAAFFM',
 'TWEXAFEGSMTHx',
 'EXSZUSx',
 'EXJPUSx',
 'EXUSUKx',
 'EXCAUSx',
 'WPSFD49207',
 'WPSFD49502',
 'WPSID61',
 'WPSID62',
 'OILPRICEx',
 'PPICMM',
 'CPIAUCSL',
 'CPIAPPSL',
 'CPITRNSL',
 'CPIMEDSL',
 'CUSR0000SAC',
 'CUSR0000SAD',
 'CUSR0000SAS',
 'CPIULFSL',
 'CUSR0000SA0L2',
 'CUSR0000SA0L5',
 'PCEPI',
 'DDURRG3M086SBEA',
 'DNDGRG3M086SBEA',
 'DSERRG3M086SBEA',
 'CES0600000008',
 'CES2000000008',
 'CES3000000008',
 'UMCSENTx',
 'DTCOLNVHFNM',
 'DTCTHFNM',
 'INVEST',
 'VIXCLSx']

In [7]:
# fills NA values forward (helps with quarterly variables!)
df = df.fillna(method="ffill")
# drops any column which contains >= 1 missing value. I'm not sure that we necessarily want to do this!
df = df.dropna(axis = 1)
list(df.columns)

['sasdate',
 'RPI',
 'W875RX1',
 'DPCERA3M086SBEA',
 'CMRMTSPLx',
 'RETAILx',
 'INDPRO',
 'IPFPNSS',
 'IPFINAL',
 'IPCONGD',
 'IPDCONGD',
 'IPNCONGD',
 'IPBUSEQ',
 'IPMAT',
 'IPDMAT',
 'IPNMAT',
 'IPMANSICS',
 'IPB51222S',
 'IPFUELS',
 'CUMFNS',
 'HWI',
 'HWIURATIO',
 'CLF16OV',
 'CE16OV',
 'UNRATE',
 'UEMPMEAN',
 'UEMPLT5',
 'UEMP5TO14',
 'UEMP15OV',
 'UEMP15T26',
 'UEMP27OV',
 'CLAIMSx',
 'PAYEMS',
 'USGOOD',
 'CES1021000001',
 'USCONS',
 'MANEMP',
 'DMANEMP',
 'NDMANEMP',
 'SRVPRD',
 'USTPU',
 'USWTRADE',
 'USTRADE',
 'USFIRE',
 'USGOVT',
 'CES0600000007',
 'AWOTMAN',
 'AWHMAN',
 'HOUST',
 'HOUSTNE',
 'HOUSTMW',
 'HOUSTS',
 'HOUSTW',
 'PERMIT',
 'PERMITNE',
 'PERMITMW',
 'PERMITS',
 'PERMITW',
 'ACOGNO',
 'AMDMNOx',
 'ANDENOx',
 'AMDMUOx',
 'BUSINVx',
 'ISRATIOx',
 'M1SL',
 'M2SL',
 'M2REAL',
 'BOGMBASE',
 'TOTRESNS',
 'NONBORRES',
 'BUSLOANS',
 'REALLN',
 'NONREVSL',
 'CONSPI',
 'S&P 500',
 'S&P: indust',
 'S&P div yield',
 'S&P PE ratio',
 'FEDFUNDS',
 'CP3Mx',
 'TB3MS',
 'TB6MS',
 'GS1',
 'GS5',
 'GS10',
 'AAA',
 'BAA',
 'COMPAPFFx',
 'TB3SMFFM',
 'TB6SMFFM',
 'T1YFFM',
 'T5YFFM',
 'T10YFFM',
 'AAAFFM',
 'BAAFFM',
 'TWEXAFEGSMTHx',
 'EXSZUSx',
 'EXJPUSx',
 'EXUSUKx',
 'EXCAUSx',
 'WPSFD49207',
 'WPSFD49502',
 'WPSID61',
 'WPSID62',
 'OILPRICEx',
 'PPICMM',
 'CPIAUCSL',
 'CPIAPPSL',
 'CPITRNSL',
 'CPIMEDSL',
 'CUSR0000SAC',
 'CUSR0000SAD',
 'CUSR0000SAS',
 'CPIULFSL',
 'CUSR0000SA0L2',
 'CUSR0000SA0L5',
 'PCEPI',
 'DDURRG3M086SBEA',
 'DNDGRG3M086SBEA',
 'DSERRG3M086SBEA',
 'CES0600000008',
 'CES2000000008',
 'CES3000000008',
 'UMCSENTx',
 'DTCOLNVHFNM',
 'DTCTHFNM',
 'INVEST',
 'VIXCLSx']

In [8]:
df = df.drop(0)
variable_renaming_dict = {'sasdate':'date', 'CMRMTSPLx':'manufacturing_trade_sales', 'INDPRO':'industrial_production', 'IPFINAL':'industrial_production_final', 'IPCONGD':'industrial_production_consumer_goods', 'IPDCONGD':'industrial_production_durable_consumer_goods', 'IPNCONGD':'industrial_production_nondurable_consumer_goods','IPBUSEQ':'industrial_production_business_equipment','IPMAT':'industrial_production_materials','IPDMAT':'industrial_production_durable_materials','IPNMAT':'industrial_production_nondurable_materials','IPMANSICS':'industrial_production_manufacturing_sic','IPB51222S':'industrial_production_residential_utilities','IPFUELS':'industrial_production_fuels','CUMFNS':'capacity_utilization_manufacturing','HWI':'help_wanted_index','HWIURATIO':'help_wanted_ratio','UNRATE':'unemployment_rate','UEMPMEAN':'unemployment_mean_duration','UEMPLT5':'unemployment_lt5_weeks','UEMP5TO14':'unemployment_5-14_weeks','UEMP15OV':'unemployment_mt15_weeks','UEMP15T26':'unemployment_15-26_weeks','UEMP27OV':'unemployment_mt27_weeks','CLAIMSx':'unemployment_initial_claims','PAYEMS':'employment','USGOOD':'employment_goods','UCONS':'employment_construction','MANEMP':'employment_manufacturing','DMANEMP':'employment_durablegoods','NDMANEMP':'employment_nondurablegoods', 'SRVPRD':'employment_services', 'USTPU':'employment_trade_transport_utilities', 'USWTRADE':'employment_wholesale_trade', 'USTRADE':'employment_retail_trade', 'USFIRE':'employment_finance', 'USGOVT':'employment_government', 'CES0600000007':'average_weekly_hours_production_goods', 'AWOTMAN':'average_weekly_overtime_hours_manufacturing', 'AWHMAN':'average_weekly_hours_production_manufacturing', 'HOUST':'housing_starts_total','HOUSTS':'housing_starts_south', 'HOUSTNE':'housing_starts_northeast', 'HOUSTMW':'housing_starts_midwest', 'HOUSTW':'housing_starts_west', 'PERMIT':'new_private_permits_total', 'PERMITNE':'new_private_permits_northeast', 'PERMITMW':'new_private_permits_midwest', 'PERMITS':'new_private_permits_south', 'PERMITW':'new_private_permits_west', 'ACOGNO':'new_orders_consumer_goods'}

df = df.rename(columns = variable_renaming_dict)
list(df.columns)

['date',
 'RPI',
 'W875RX1',
 'DPCERA3M086SBEA',
 'manufacturing_trade_sales',
 'RETAILx',
 'industrial_production',
 'IPFPNSS',
 'industrial_production_final',
 'industrial_production_consumer_goods',
 'industrial_production_durable_consumer_goods',
 'industrial_production_nondurable_consumer_goods',
 'industrial_production_business_equipment',
 'industrial_production_materials',
 'industrial_production_durable_materials',
 'industrial_production_nondurable_materials',
 'industrial_production_manufacturing_sic',
 'industrial_production_residential_utilities',
 'industrial_production_fuels',
 'capacity_utilization_manufacturing',
 'help_wanted_index',
 'help_wanted_ratio',
 'CLF16OV',
 'CE16OV',
 'unemployment_rate',
 'unemployment_mean_duration',
 'unemployment_lt5_weeks',
 'unemployment_5-14_weeks',
 'unemployment_mt15_weeks',
 'unemployment_15-26_weeks',
 'unemployment_mt27_weeks',
 'unemployment_initial_claims',
 'employment',
 'employment_goods',
 'CES1021000001',
 'USCONS',
 'employment_manufacturing',
 'employment_durablegoods',
 'employment_nondurablegoods',
 'employment_services',
 'employment_trade_transport_utilities',
 'employment_wholesale_trade',
 'employment_retail_trade',
 'employment_finance',
 'employment_government',
 'average_weekly_hours_production_goods',
 'average_weekly_overtime_hours_manufacturing',
 'average_weekly_hours_production_manufacturing',
 'housing_starts_total',
 'housing_starts_northeast',
 'housing_starts_midwest',
 'housing_starts_south',
 'housing_starts_west',
 'new_private_permits_total',
 'new_private_permits_northeast',
 'new_private_permits_midwest',
 'new_private_permits_south',
 'new_private_permits_west',
 'new_orders_consumer_goods',
 'AMDMNOx',
 'ANDENOx',
 'AMDMUOx',
 'BUSINVx',
 'ISRATIOx',
 'M1SL',
 'M2SL',
 'M2REAL',
 'BOGMBASE',
 'TOTRESNS',
 'NONBORRES',
 'BUSLOANS',
 'REALLN',
 'NONREVSL',
 'CONSPI',
 'S&P 500',
 'S&P: indust',
 'S&P div yield',
 'S&P PE ratio',
 'FEDFUNDS',
 'CP3Mx',
 'TB3MS',
 'TB6MS',
 'GS1',
 'GS5',
 'GS10',
 'AAA',
 'BAA',
 'COMPAPFFx',
 'TB3SMFFM',
 'TB6SMFFM',
 'T1YFFM',
 'T5YFFM',
 'T10YFFM',
 'AAAFFM',
 'BAAFFM',
 'TWEXAFEGSMTHx',
 'EXSZUSx',
 'EXJPUSx',
 'EXUSUKx',
 'EXCAUSx',
 'WPSFD49207',
 'WPSFD49502',
 'WPSID61',
 'WPSID62',
 'OILPRICEx',
 'PPICMM',
 'CPIAUCSL',
 'CPIAPPSL',
 'CPITRNSL',
 'CPIMEDSL',
 'CUSR0000SAC',
 'CUSR0000SAD',
 'CUSR0000SAS',
 'CPIULFSL',
 'CUSR0000SA0L2',
 'CUSR0000SA0L5',
 'PCEPI',
 'DDURRG3M086SBEA',
 'DNDGRG3M086SBEA',
 'DSERRG3M086SBEA',
 'CES0600000008',
 'CES2000000008',
 'CES3000000008',
 'UMCSENTx',
 'DTCOLNVHFNM',
 'DTCTHFNM',
 'INVEST',
 'VIXCLSx']

In [9]:
df["date"] = df['date'].apply(lambda x: datetime.strptime(x, "%m/%d/%Y"))
df["date"] = df['date'].apply(lambda x: x.toordinal())

In [10]:
df.to_csv("../../data/cleaned/fulldataset.csv")
df.head(5)

,date,RPI,W875RX1,DPCERA3M086SBEA,manufacturing_trade_sales,RETAILx,industrial_production,IPFPNSS,industrial_production_final,industrial_production_consumer_goods,...,DNDGRG3M086SBEA,DSERRG3M086SBEA,CES0600000008,CES2000000008,CES3000000008,UMCSENTx,DTCOLNVHFNM,DTCTHFNM,INVEST,VIXCLSx
1,715145,2442.158,2293.2,17.272,292266.4261,18235.77392,22.0151,23.3984,22.2848,31.5847,...,17.791,11.326,2.13,2.45,2.04,2.0,6476.0,12298.0,84.2043,1.0
2,715176,2451.778,2301.5,17.452,294424.7425,18369.56308,22.4463,23.7142,22.4778,31.8164,...,17.798,11.343,2.14,2.46,2.05,2.0,6476.0,12298.0,83.5280,1.0
3,715204,2467.594,2318.5,17.617,293418.6704,18523.05762,22.7696,23.8577,22.5882,31.8164,...,17.785,11.363,2.15,2.45,2.07,2.0,6508.0,12349.0,81.6405,1.0
4,715235,2483.671,2334.9,17.553,299322.8039,18534.46600,23.2547,24.2022,22.9191,32.3184,...,17.796,11.403,2.16,2.47,2.08,2.0,6620.0,12484.0,81.8099,1.0
5,715265,2498.026,2350.4,17.765,301364.3249,18679.66354,23.6050,24.4032,23.1398,32.4728,...,17.777,11.421,2.17,2.48,2.08,95.3,6753.0,12646.0,80.7315,1.0

In [11]:
df_transforms = df_transforms.rename(columns = variable_renaming_dict)
df_transforms.to_csv("../../data/cleaned/allmonthly_transforms.csv")

In [12]:
# Feature normalization!
df_min_max_scaled = df.copy()
df_min_max_scaled.drop('date', axis=1)
  
# apply normalization techniques
for column in df_min_max_scaled.columns:
    df_min_max_scaled[column] = (df_min_max_scaled[column] - df_min_max_scaled[column].min()) / (df_min_max_scaled[column].max() - df_min_max_scaled[column].min())    

df_min_max_scaled["date"] = df["date"]
df = df_min_max_scaled

In [13]:
from sklearn.model_selection import train_test_split

X = df.loc[:, ~df.columns.isin(['unemployment_rate', 'unemployment_lt5_weeks', 'unemployment_5-14_weeks','unemployment_mt15_weeks', 'unemployment_15-26_weeks','unemployment_mt27_weeks','unemployment_initial_claims'])]

y = df["unemployment_rate"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train.to_csv("../../data/cleaned/unemp_inputs_train.csv")
X_test.to_csv("../../data/cleaned/unemp_inputs_test.csv")
y_train.to_csv("../../data/cleaned/unemp_labels_train.csv")
y_test.to_csv("../../data/cleaned/unemp_labels_test.csv")